html{
  width: 300px;
  height: 450px;
}

body{
  font-family: "Kreon", serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  inline-size: 300px;
  font-size: 25px;
}

.work-text{
  color: #ff9a9a;
}

.pomodoro-text{
  color: #008a7a;
}

.interval-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  align-items: center;
}

.interval-text-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  align-items: center;
}

.interval-text-box input[type="interval-box"] {
  width: 40px;
  height: 20px;
}

.interval-text-box p {
  text-align: center;
}

.focus-period-container{
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-period-container{
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  align-items: center;
}

.text-box input[type="text"] {
  width: 40px;
  height: 20px;
}

.interval-text-box p {
  text-align: center;
}

h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

h2{
  margin-top: 5px;
  margin-bottom: 5px;
}

.start-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

button{
  height: 30px;
  width: 100px;
  border-radius: 26px;
  border: none;
  background-color: #ff9a9a;
  font-family: "Kreon", serif;
  font-size: 15px;
}

button:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.4;
}

.start-button:active{
  padding-top: 17px;
}